h2 {
    margin: 10px;
}

section {
    display: flex;
    align-content: center;
    align-items: center;
}
md-card {
    margin: 10px;
}

.add-new-card {

}

.buttons-row {
    display: inline-flex;
    justify-content: space-between;

}


textarea {
    width: 400px;
    height: auto;
}