div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.property-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.property {
  border-bottom: 1px solid black;
  margin: 0 0 2rem 2rem;
}
